body {
  overflow: hidden !important;
}

.manymail-overlay.ui-dialog {
  border: 0;
  overflow: visible;
}

.manymail-overlay.ui-dialog .message {
  padding-left: 30px;
}

.manymail-overlay.ui-dialog #manymail-dialog-logo {
  background: url("../images/64x64-manymail.logo.png") no-repeat;
  height: 64px;
  left: -20px;
  position: absolute;
  top: -7px;
  width: 64px;
}

.manymail-overlay.ui-dialog .ui-dialog-content {
  height: auto !important;
  overflow: visible;
  padding: 1em;
}

.manymail-overlay.ui-dialog .ui-dialog-titlebar {
  display: none;
}

.ui-widget-overlay {
  background: #fff !important;
  filter: alpha(opacity = 100) !important;
  opacity: 1 !important;
}
